/*    ESTILOS GENERALES    */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: 30px;
}

/*          REDES SOCIALES     */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #32349e;
  color: white;
  width: 100%;
  min-height: 500px;
  height: 50vh;
}

/* Imagen */

figure {
  width: 300px;
  text-align: center;
}

figure img {
  width: 25px;
}

figcaption {
  color: white;
}

#img {
  text-align: center;
}

.logo {
  transition: all 0.5s ease;
}

.logo:hover {
  transform: scale(1.2);
}

/*  ICON  */

.iconos-redes-sociales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2 ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.5 ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: white;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a:hover i {
  color: black;
}

.derecho-de-autor {
  font-size: 1.1rem;
  color: #aeaeae;
  padding-top: 50px;
}

/*
  Este CSS esta configurado para full Screen, las media Query para dispositivos Tables e Mobiles.
*/

@media (max-width: 1024px) {
  
    
  
  figcaption {
    font-size: 16px;
  }

  figure img {
    width: 20px;
  }

}  

@media (max-width: 1024px) {

  figure img {
    width: 25px;
  }

}

@media (max-width: 768px) {

  .logo {
    min-width: 70px;
  }

}

@media (max-width: 640px) {

  

}

@media (max-width: 320px) {

 .texto {
  font-size: 16px;
 }

}