<!--Pie de Pagina-->
<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">

    <figure>
        <img src="../../../assets/recursos/icon/icon Argentina programa.png" alt="Icon Argentina Programa">
        <figcaption class="figcation">Argentina Programa</figcaption>
    </figure>

    <p class="footer-texto text-center">Aprendo y creo todos los días <br> Creemos un proyecto
        juntos.</p>
    <div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">

        <a href="https://www.facebook.com/WaldoCuevas23" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-facebook"></i>
        </a>

        <a href="https://twitter.com/Waldo58261887" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-twitter"></i>
        </a>

        <a href="https://www.instagram.com/waldo231/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-instagram"></i>
        </a>

        <a href="https://github.com/WaldoCuevas" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i>
        </a>

        <a href="https://www.linkedin.com/in/waldo-cuevas-a6aa62238/" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-linkedin"></i>
        </a>

        <a href="https://es.stackoverflow.com/users/313678/waldo-cuevas" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-stack-overflow"></i>
        </a>


    </div>
    <div class="derecho-de-autor">Creado por Waldo Cuevas (2023) &#169;</div>
</footer>