<!-- Contacto-->
<section id="contacto">


    <div class="rectangulo ">

        <div class="columna col-xs-12 col-md-12 col-xl-3 ">
            <h3 class="titulo"> ¡Pongamonos <br> en <br> Contacto! </h3>
        </div>

        <div class="col-xs-12 col-md-12 col-xl-6 ">
            <p class="texto">Puedo desarrollar las aplicaciones o paginas web que siempre imaginaste.</p>
            <p class="texto">Ansio mucho poder trabajar contigo. </p>
        </div>

        <div class="columna col-xs-12 col-md-12 col-xl-3">
            <a href="mailto:CuevasWaldo5@gmail.com">
                <button type="button">
                    Contacto
                    <i class="bi bi-envelope-check-fill"></i>
                </button>
            </a>
        </div>
    </div>


</section>