/*    ESTILOS GENERALES    */

.titulo {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.texto {
  padding-left: 0;
  font-size: 14px;
}

/*          CONTACT          */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #32349e;
  color: white;
  width: 100%;
}

.rectangulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: -10px;
  margin-bottom: -10px;
  background-color: #7071c9;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.columna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 20px;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: white;
  color: black;
}

button i {
  color: white;
  font-size: 16px;
  transition: all 0.2 ease-in-out;
}

button:hover i {
  color: black;
}

/*
  Este CSS esta configurado para full mobile, las media Query son  para dispositivos Tables e desktop.
*/

@media (min-width: 640px) {

    
}

@media (min-width: 768px) {

  .rectangulo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: -10px;
    margin-bottom: -10px;
    background-color: #7071c9;
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
  }

}

@media (min-width: 1024px) {

    

}

@media (min-width: 1280px) {

    
}

@media (min-width: 1536px) {

   
    
}
