/*    ESTILOS GENERALES    */

.presentacion {
  font-family: "Abril Fatface", cursive;
}

.titulo-seccion {
  font-family: "Rubik Dirt", cursive;
}

.titulo {
  font-family: "Playfair Display SC", serif;
}

.texto {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

hr {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  Seccion Oscura  */

.seccion-oscura {
  background-color: #1b1b32;
  color: white;
}

.titulo-oscura {
  font-size: 3rem;
  padding: 15px 0;
  color: #e9eaeb;
}

.sub-titulo-oscura {
  font-size: 1.5rem;
  color: #e2e3e4;
  text-decoration: none;
}

.texto-oscura {
  font-size: 1.5rem;
  color: #bfc0c0;
}

/*  Seccion Clara  */

.seccion-clara {
  background-color: white;
  color: black;
}

.titulo-clara {
  font-size: 3rem;
  padding: 15px 0;
  color: #3b3b3b;
}

.sub-titulo-clara {
  font-size: 1.1rem;
  color: #242424;
}

.texto-clara {
  font-size: 1rem;
  color: black;
}

.btn-primary {
  border-radius: 15vh;
  font-size: 1rem;
  padding: 1vw;
  margin: 20px;
}

/*          CONTACT          */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}

.contacto .rectangulo {
  margin-top: -3rem;
  background-color: rgb(13, 110, 253);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 20px;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1rem;
  transition: all 0.2 ease-in-out;
}

.contacto button:hover i {
  color: black;
}
