<!--Experiencia-->
<section id="experiencia" class="experiencia seccion-clara">
    <div class="container text-center">
        <h1 class="titulo-clara titulo-seccion">Aprendizaje y Conocimiento</h1>
        <div class="row">

            <div class="columna col-xs-12 col-md-12 col-xl-3">
                <div class="container">
                    <i class="bi bi-laptop"></i>
                    <h3 class="experiencia-titulo titulo">FrontEnd Dev</h3>
                </div>
                <p class="texto">Como FrontEnd Developer me encargo de diseñar la interfaz de usuario (UI)
                    de
                    los
                    sitios web. <br>
                    Es una de las piezas claves de un proyecto digital porque es el responsable
                    de
                    la experiencia de usuario (UX), y se desenvuelve del lado del cliente.
                </p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">HTML</span>
                    <span class="badge text-bg-primary">CSS</span>
                    <span class="badge text-bg-primary">JavaScript</span>
                    <span class="badge text-bg-primary">Angular</span>
                </div>
            </div>

            <div class="columna col-xs-12 col-md-12 col-xl-3">
                <div class="container">
                    <i class="bi bi-hdd-rack-fill"></i>
                    <h3 class="experiencia-titulo titulo">Backend Dev</h3>
                </div>
                <p class="texto">Como BackEnd Developer me encargo del desarrollo de una web, app o
                    programa.<br>
                    Ser Backend Dev es ocuparse de la “parte de atrás”, es decir, de trabajar
                    con el
                    servidor.<br>
                    Sus funciones son diseñar, revisar y reparar todo para su correcto
                    funcionamiento</p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">JAVA</span>
                    <span class="badge text-bg-primary">Spring Boot</span>
                    <span class="badge text-bg-primary">Spring Security</span>
                    <span class="badge text-bg-primary">Node js</span>
                </div>
            </div>

            <div class="columna col-xs-12 col-md-12 col-xl-3">
                <div class="container">
                    <i class="bi bi-database"></i>
                    <h3 class="experiencia-titulo titulo">Databases Dev</h3>
                </div>
                <p class="texto">Como Database Developer, o programador de base de datos, soy responsable
                    de
                    crear,
                    administrar y solucionar problemas de bases de datos informáticas que pueden
                    procesar
                    grandes cantidades de información y mantenerla segura</p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">MySql</span>
                    <span class="badge text-bg-primary">MongoDB</span>
                    <span class="badge text-bg-primary">Postgress</span>
                </div>
            </div>

            <div class="columna col-xs-12 col-md-12 col-xl-3">
                <div class="container">
                    <i class="bi bi-infinity"></i>
                    <h3 class="experiencia-titulo titulo">DevOps</h3>
                </div>
                <p class="texto">DevOps es un marco de trabajo y una filosofía en constante evolución que
                    promueve un mejor
                    desarrollo de aplicaciones en menos tiempo y la rápida publicación de nuevas
                    o revisadas
                    funciones de software o productos para los clientes.</p>
                <div class="badges-contenedor">
                    <span class="badge text-bg-primary">Scrum</span>
                </div>
            </div>

        </div>
    </div>
</section>