<!--Educación-->
<section id="educacion">

    <h1 class="titulo-seccion">Educación</h1>

    <div class="container-icon">
        <button (click)="modalService.open(AddDataEducationModal)" class="icon icon-1" *ngIf="isAdmin">
            <i class="fa-solid fa-square-plus"></i>
            <p>Añadir</p>
        </button>
    </div>

    <div class="timeline">
        <div *ngFor="let education of educations" class="timeline-box">

            <div class="timeline-icon">
                <i class="fa fa-graduation-cap"></i>
            </div>

            <div class="timeline-content">

                <div class="container">

                    <div class="row">

                        <div class="columna col-xs-12 col-md-12 col-xl-12">

                            <div class="header-icon">
                                <div class="container-imagen">
                                    <img src="{{ this.education.education_image }}" alt="education_logo">
                                </div>

                                <div class="container-icon">
                                    <button (click)="modalService.open(ModifyDataEducationModal)" class="icon icon-2"
                                        *ngIf="isAdmin">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <p>Modificar</p>
                                    </button>
                                    <button (click)="DeleteDataEducation(this.education.education_id)"
                                        class="icon icon-3" *ngIf="isAdmin">
                                        <i class="fa-solid fa-trash"></i>
                                        <p>Borrar</p>
                                    </button>
                                </div>
                            </div>

                            <div class="container-info">
                                <h3 class="titulo">{{ this.education.school }} </h3>
                                <hr>
                                <h5 class="texto"> {{ this.education.qualification }}</h5>
                            </div>

                            <div class="container-description">
                                <p *ngIf="textoVacio(this.education.description_education_r1)" class="texto"> {{
                                    this.education.description_education_r1 }} </p>
                                <p *ngIf="textoVacio(this.education.description_education_r2)" class="texto"> {{
                                    this.education.description_education_r2 }} </p>
                                <p *ngIf="textoVacio(this.education.description_education_r3)" class="texto"> {{
                                    this.education.description_education_r3 }} </p>
                                <p *ngIf="textoVacio(this.education.description_education_r4)" class="texto"> {{
                                    this.education.description_education_r4 }} </p>

                                <span> {{ this.education.start_education }} - {{ this.education.end_education }}</span>

                            </div>

                            <!--Modal-->
                            <ng-template #ModifyDataEducationModal let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">Modificar Educacion</h4>
                                    <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-container">
                                        <form [formGroup]="formModify" class="form"
                                            (ngSubmit)="ModifyDataEducation(this.education.education_id)">

                                            <div>
                                                <label for="id">ID:</label>
                                                <input id="id" formControlName="education_id" name="id"
                                                    placeholder="{{this.education.education_id}}">
                                            </div>

                                            <div>
                                                <label for="education_image">Imagen URL </label>
                                                <input type="text" id="education_image"
                                                    formControlName="education_image" name="education_image"
                                                    placeholder="Imagen URL" maxlength="254">
                                            </div>

                                            <div>
                                                <label for="school">Institución: </label>
                                                <input type="text" id="workplace" formControlName="school" name="school"
                                                    placeholder="Institución" maxlength="30">
                                            </div>

                                            <div>
                                                <label for="qualification">Certificación: </label>
                                                <input type="text" id="email" formControlName="qualification"
                                                    name="qualification" placeholder="Titulo/Certificado"
                                                    maxlength="75">
                                            </div>

                                            <div>
                                                <label for="description_education_r1">Descripcion 1: </label>
                                                <input type="text" id="description_education_r1"
                                                    formControlName="description_education_r1"
                                                    name="description_education_r1" placeholder="Descripcion"
                                                    maxlength="254">
                                            </div>

                                            <div>
                                                <label for="description_education_r2">Descripcion 2: </label>
                                                <input type="text" id="description_education_r2"
                                                    formControlName="description_education_r2"
                                                    name="description_education_r2" placeholder="Descripcion"
                                                    maxlength="254">
                                            </div>

                                            <div>
                                                <label for="description_education_r3">Descripcion 3: </label>
                                                <input type="text" id="description_education_r3"
                                                    formControlName="description_education_r3"
                                                    name="description_education_r3" placeholder="Descripcion"
                                                    maxlength="254">
                                            </div>

                                            <div>
                                                <label for="description_education_r4">Descripcion 4: </label>
                                                <input type="text" id="description_education_r4"
                                                    formControlName="description_education_r4"
                                                    name="description_education_r4" placeholder="Descripcion"
                                                    maxlength="254">
                                            </div>

                                            <div>
                                                <label for="start_education">Inicio: </label>
                                                <input type="text" id="start_education"
                                                    formControlName="start_education" name="start_education"
                                                    placeholder="Inicio Educacion" maxlength="75">
                                            </div>

                                            <div>
                                                <label for="end_education">Final: </label>
                                                <input type="text" id="end_education" formControlName="end_education"
                                                    name="end_education" placeholder="Fin Educacion" maxlength="75">
                                            </div>

                                            <button>Modificar</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
                                </div>
                            </ng-template>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>


</section>

<!--Modal-->
<ng-template #AddDataEducationModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Añadir Educacion</h4>
        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-container">
            <form [formGroup]="formAdd" class="form" (ngSubmit)="AddDataEducation()">

                <div>
                    <label for="education_image">Imagen URL </label>
                    <input type="text" id="education_image" formControlName="education_image" name="education_image"
                        placeholder="Imagen URL" maxlength="254">
                </div>

                <div>
                    <label for="school">Institución: </label>
                    <input type="text" id="workplace" formControlName="school" name="school" placeholder="Institución"
                        maxlength="30">
                </div>

                <div>
                    <label for="qualification">Certificación: </label>
                    <input type="text" id="email" formControlName="qualification" name="qualification"
                        placeholder="Titulo/Certificado" maxlength="75">
                </div>

                <div>
                    <label for="description_education_r1">Descripcion 1: </label>
                    <input type="text" id="description_education_r1" formControlName="description_education_r1"
                        name="description_education_r1" placeholder="Descripcion" maxlength="254">
                </div>

                <div>
                    <label for="description_education_r2">Descripcion 2: </label>
                    <input type="text" id="description_education_r2" formControlName="description_education_r2"
                        name="description_education_r2" placeholder="Descripcion" maxlength="254">
                </div>

                <div>
                    <label for="description_education_r3">Descripcion 3: </label>
                    <input type="text" id="description_education_r3" formControlName="description_education_r3"
                        name="description_education_r3" placeholder="Descripcion" maxlength="254">
                </div>

                <div>
                    <label for="description_education_r4">Descripcion 4: </label>
                    <input type="text" id="description_education_r4" formControlName="description_education_r4"
                        name="description_education_r4" placeholder="Descripcion" maxlength="254">
                </div>

                <div>
                    <label for="start_education">Inicio: </label>
                    <input type="text" id="start_education" formControlName="start_education" name="start_education"
                        placeholder="Inicio Educacion" maxlength="75">
                </div>

                <div>
                    <label for="end_education">Final: </label>
                    <input type="text" id="end_education" formControlName="end_education" name="end_education"
                        placeholder="Fin Educacion" maxlength="75">
                </div>

                <button>Añadir</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>