/*    SECTION    */

.container {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding-top: 20vh;
}

.container .columna {
  padding: 20px;
}

span {
  font-size: 1.2rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.aprendizaje {
  text-align: left;
}

.educacion-texto {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/*    INFO    */

.container-info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.presentacion {
  font-family: "Abril Fatface", cursive;
}

.titulo-seccion {
  font-family: "Rubik Dirt", cursive;
}

.titulo {
  font-family: "Playfair Display SC", serif;
  font-size: 20px;
}

.texto {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  color: #32349e;
}

/*  ACTIONS --> solo admin  */

.header-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  margin: 15px;
  gap: 10px;
}

.action {
  border: none;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  padding: 10px;
  transition: color 0.2s ease-in;
}

.action-1:hover {
  color: #22c55e;
}

.action-2:hover {
  color: #06b6d4;
}

.action-3:hover {
  color: #ef4444;
}

/* IMAGE */

.container-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10%;
}

/*  TIMELINE  */

.timeline {
  border-left: 1px dashed #6366f1;
  margin-left: 20px;
  margin-bottom: 30px;
}

.timeline .timeline-box {
  padding-left: 40px;
  margin-bottom: 30px;
  position: relative;
}

.timeline-icon { 
  left: -18px;
  top: 115px;
  background-color: #32349e;
  position: absolute;
  width: 35px;
  z-index: 1;
  text-align: center;
  line-height: 35px;
}

.timeline-icon i {
  color: rgb(224, 222, 222);
}

/*	MODAL		*/

.modal-header {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
}

.modal-footer {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #eee;
}

/*  Form  */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container, .input-container, .textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2, button, p {
  margin: 8px 0;
}

input, textarea {
  margin: 25px 0px;
  padding: 20px 15px;
  color: #000000;
  border-radius: 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  text-align: left;
}

input:focus, textarea {
  box-shadow: 0 0 10px #0000002a;
  background-color: #0000002a;
}

.modal-body button {
  background-image: linear-gradient(to right, #00bfff , #2480f0, #26206e);
  border-radius: 30px;
  border: transparent;
  width: 200px;
  transition: .2s all ease;
}

.modal-body button:hover {
  background-image: linear-gradient(to right, #37cdff , #52a0ff, #4940b0);
}



/*
  Este CSS esta configurado para full Screen, las media Query para dispositivos Tables e Mobiles.
*/