/*    SECTIONS    */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

span {
  font-size: 20px;
  text-align: left;
  text-decoration: none;
}

.educacion-texto {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0;
}

.header-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*    INFO    */

.container-info {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.presentacion {
  font-family: "Abril Fatface", cursive;
}

.titulo-seccion {
  font-family: "Rubik Dirt", cursive;
  padding: 100px 0 20px 0;
}

.titulo {
  font-family: "Playfair Display SC", serif;
  font-size: 20px;
  text-align: left;
}

.texto {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  padding: 5px 0;
  margin: 0;
}

span {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  color: #32349e;
  font-size: 20px;
}

.underline {
  text-decoration: underline;
}

/* IMAGE */

.container-imagen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  width: 50%;
}

img {
  height: 100%;
  width: 100%;
}

.container-action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/*
  Este CSS esta configurado para full mobile, las media Query son  para dispositivos Tables e desktop.
*/

@media (min-width: 640px) {

    
}

@media (min-width: 768px) {

    

}

@media (min-width: 1024px) {

    

}

@media (min-width: 1280px) {

    
}

@media (min-width: 1536px) {

   
    
}
