/* Section styles */

section {
    background: #eee;
    height: calc(90vh + 20vh);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 44px;
    margin: 0;
    position: relative;
}

/* Container info styles */

.container-info {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-info h2, .container-info span {
    margin: 0;
    font-size: 58px;
    font-weight: bold;
}

.container-info p {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 500;
    color: #1f1f1f;
}

/* Image styles */

.container-image {
    position: relative;
    width: 300px;
    display: grid;
    place-content: center;
    clip-path: circle(87.6% at 50% 11%);
}

.fondo-imagen {
    background-color: #6366f1;
    width: 300px;
    height: 300px;
    clip-path: circle(57.9% at 51% 92%);
}

img {
    position: absolute;
    z-index: 2;
    width: 300px;
}

/* Link styles */

.link-info {
    width: 450px;
    height: 50px;
    padding: 10px 40px;
    box-shadow: 0 0 5px rgba(0 0 0 /.1);
    border: 3px solid #6366f1;
    border-radius: 8px;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

/* Lo de los links si queres que ambos tengan el mismo hover ya se los modificas vos después. */
.link-info-1 {
    background-color: #6366f1;
    color: #eee;
}

.link-info-1:hover {
    background-color: transparent;
    color: #6366f1;
}

.link-info-2 {
    background-color: transparent;
    color: #6366f1;
}

.link-info-2:hover {
    background-color: #6366f1;
    color: #eee;
}

.container-icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Action icons styles */

.icon {
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    transition: color .1s ease-in-out;
}

.icon-1:hover {
    color: #22c55e;
}
.icon-2:hover {
    color: #06b6d4;
}
.icon-3:hover {
    color: #ef4444;
}

