<!--Hero-->
<section id="inicio">


    <div class="container-icon">
        <button (click)="modalService.open(AddPersonalDataModal)" class="icon icon-1" *ngIf="isAdmin">
            <i class="fa-solid fa-square-plus"></i>
            <p>Añadir</p>
        </button>
        <button (click)="modalService.open(ModifyPersonalDataModal)" class="icon icon-2" *ngIf="isAdmin">
            <i class="fa-solid fa-pen-to-square"></i>
            <p>Modificar</p>
        </button>
        <button (click)="DeletePersonalData()" class="icon icon-3" *ngIf="isAdmin">
            <i class="fa-solid fa-trash"></i>
            <p>Borrar</p>
        </button>
    </div>

    <div class="container-info">
        <h2>¡Hola! Soy </h2>
        <span style="color:#6366f1;">{{ this.persona.name }} {{ this.persona.last_name }} </span>
        <p>Programador Full Stack</p>
        <div class="container-link">
            <a class="link-info link-info-1" href="https://github.com/waldocuevas">Github</a>
            <a class="link-info link-info-2" href="#">Descargar CV</a>
        </div>
    </div>
    
    <div class="container-image">
        <span class="fondo-imagen"></span>
        <img src="{{this.persona.user_image}}" alt="Avatar">
    </div>

    

</section>

<div>

    <app-about-me></app-about-me>


</div>

    

<!--Modal-->
<ng-template #AddPersonalDataModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Titulo modal</h4>
        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-container">
            <form class="form" (ngSubmit)="AddPersonalData()">

                <div>
                    <label for="image_URL">Imagen URL </label>
                    <input type="text" id="image_URL" [(ngModel)]="persona.user_image" name="image_URL"
                        placeholder="Imagen URL" maxlength="254">
                </div>

                <div>
                    <label for="workplace">Nombre: </label>
                    <input type="text" id="workplace" [(ngModel)]="persona.name" name="workplace"
                        placeholder="Lugar de Trabajo" maxlength="30">
                </div>

                <div>
                    <label for="workstation">Apellido: </label>
                    <input type="text" id="email" [(ngModel)]="persona.last_name" name="workstation"
                        placeholder="Puesto de trabajo" maxlength="35">
                </div>

                <button>Añadir</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>

<!--Modal-->
<ng-template #ModifyPersonalDataModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Editar</h4>
        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-container">
            <form class="form" (ngSubmit)="ModifyPersonalData()">

                <div>
                    <label for="id">ID:</label>
                    <input id="id" [(ngModel)]="this.persona.user_id" name="id" disabled="true"
                        placeholder="{{this.persona.user_id}}">
                </div>

                <div>
                    <label for="image_URL">Imagen URL </label>
                    <input type="text" id="image_URL" [(ngModel)]="persona.user_image" name="image_URL"
                        placeholder="Imagen URL" maxlength="254">
                </div>

                <div>
                    <label for="workplace">Nombre: </label>
                    <input type="text" id="workplace" [(ngModel)]="persona.name" name="workplace"
                        placeholder="Lugar de Trabajo" maxlength="30">
                </div>

                <div>
                    <label for="workstation">Apellido: </label>
                    <input type="text" id="email" [(ngModel)]="persona.last_name" name="workstation"
                        placeholder="Puesto de trabajo" maxlength="35">
                </div>

                <button>Añadir</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>