<!--Hero-->
<section id="inicio" class="hero align-items-stretch">

    <div>
        <div class="hero-principal d-flex flex-column justify-content-center align-items-center">
            <img id="avatar-img" src="../../../assets/recursos/waldo.jpg" alt="Avatar">
            <h1 class="titulo-clara presentacion">¡Hola! <br>Soy {{ this.user.name }} </h1>
            <h1 class="titulo-clara presentacion"> {{ this.user.last_name }} </h1>
            <h2 class="sub-titulo-clara presentacion">Programador Full Stack</h2>
        </div>

    </div>
</section>

<div>
    <app-about-me></app-about-me>
</div>