<div class="form-container">

    <h3>Registro</h3>
    
    <form [formGroup]="form" class="form" (ngSubmit)="SaveUser()">

        <label>Datos Personales</label>
        <div>
            <input type="text" formControlName="nombre" placeholder="Nombre">
        </div>
        <div>
            <input type="text" formControlName="apellido" placeholder="apellido">
        </div>
        <div>
            <input type="email" formControlName="email" placeholder="Email">
        </div>

        <label>Datos de Login</label>
        <div>
            <input type="text" formControlName="nombreUsuario" placeholder="Nombre de Usuario">
        </div>

        <div>
            <input type="password" formControlName="password" placeholder="Contraseña">
        </div>
    
        <button>Guardar</button>
    </form>
    
</div>