/*  NAV */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

br {
  display: block;
}

.header {
  background-color: #32349e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 10px 10px;
  min-width: 300px;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li {
  margin: 0 5px;
  display: block;
  margin: 50px 0;
  line-height: 30px;

}

nav ul li a {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  transition: all 0.5s ease-in-out;

}

nav ul li a:hover {
  transform: scale(1.2);
  color: #6663f1;
  text-decoration: underline;
}

nav ul li a:active {
  color: #32349e;
}

ul {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #2c3e50;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all 0.5s;
  z-index: 5;
}

/*  INFO  */

.presentacion {
  font-family: "Abril Fatface", cursive;
}

.titulo-seccion {
  font-family: "Rubik Dirt", cursive;
}

.titulo {
  font-family: "Playfair Display SC", serif;
}

.texto {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}


/*  checkbox  */

.checkbtn {
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  margin-right: 0px;
  cursor: pointer;
  display: block;
}

#check {
  display: none;
}

/*  OCULTAR NAVBAR  */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  background-color: #2980b9;
  padding: 0 2rem;
  transition: all 0.9s ease-in;
  z-index: 3;
}

nav.nav--hidden {
  transform: translateY(-100%);
}

/*  OCULTAR NAVBAR  */

#check:checked ~ ul {
  left: 0;
}

/*
    Este CSS esta configurado para full Screen, las media Query para dispositivos Tables e Mobiles.
  */

@media (min-width: 760px) {

  br {
    display: none;
  }

  .checkbtn {
    display: none;
  }

  ul {
    position: static;
    width: auto;
    height: auto;
    background: none;
    top: auto;
    left: auto;
    text-align: center;
    transition: all 0.5s;
    z-index: 5;
  }

  nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  }

}  


