/*  NAV */

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*  INFO  */

.presentacion {
  font-family: "Abril Fatface", cursive;
}

.titulo-seccion {
  font-family: "Rubik Dirt", cursive;
}

.titulo {
  font-family: "Playfair Display SC", serif;
}

.texto {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

/* navbar oculta */

nav {
  position: fixed;
  top: 0;
  color: white;
  background-color: #32349e;
  padding: 0 2rem;
  transition: all 0.3s ease-in;
}

nav.nav--hidden {
  transform: translateY(-100%);
}
/* navbar oculta */

figure {
  width: 15vw;
  text-align: center;
}

figure img {
  width: 20%;
}

figcaption {
  color: white;
}

.navbar {
  padding: 1rem;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
}

/*  LINK  */  

.link-container {
  display: flex;
  flex-direction: column;
}

.nav-link {
  font-size: 1.2rem;
  margin: 1rem;
  color: white;
  transition: all 0.1s ease-in;
}

.nav-link:hover {
  transform: scale(1.2);
  color: rgb(177, 172, 172);
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

#img {
  text-align: center;
}
