<!--Barra De Navegacion-->
<nav ngxHideOnScroll [classNameWhenHidden]="'nav--hidden'" class="navbar navbar-expand-xl">

    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <a class="navbar-brand" routerLink="">
                <figure>
                    <img src="../../../assets/recursos/icon/icon Argentina programa.png" alt="Icon Argentina Programa">
                    <figcaption> Argentina Programa </figcaption>
                </figure>
            </a>

            <div class="link-container justify-content-center align-items-center">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a *ngIf="isLogged" class="nav-link" aria-current="page" routerLink="hero">Inicio</a>
                    </li>

                    <li class="nav-item">
                        <a *ngIf="isLogged" class="nav-link" routerLink="technology">Conocimiento</a>
                    </li>

                    <li class="nav-item">
                        <a *ngIf="isLogged" class="nav-link" routerLink="exp">Experiencia</a>
                    </li>

                    <li class="nav-item">
                        <a *ngIf="isLogged" class="nav-link" routerLink="project">Proyectos</a>
                    </li>

                </ul>
            </div>

            <a *ngIf="isLogin();else IniciarSesion" class="link" (click)="cerrarSesion()">Cerrar Sesión</a>


            <ng-template #IniciarSesion>
                <a *ngIf="!isLogged"class="link" routerLink="login" routerLinkActive="active">Iniciar Sesión</a>
            </ng-template>

        </div>

    </div>
</nav>