<!--Barra De Navegacion-->

<nav class="header" ngxHideOnScroll [classNameWhenHidden]="'nav--hidden'">

    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa-solid fa-bars"></i>
    </label>

    <figure class="logo">
        <img src="../../../assets/recursos/icon/icon Argentina programa.png" alt="Icon Argentina Programa">
        <figcaption> <a routerLink="" style="color:white"> Argentina Programa</a> </figcaption>
    </figure>

    <ul>
        <li>
            <a *ngIf="isLogged" class="nav-link" routerLink="home">Home</a>
        </li>

        <li>
            <a *ngIf="isLogged" class="nav-link" routerLink="know-skill">knowledge and skills
            </a>
        </li>

        <li>
            <a *ngIf="isLogged" class="nav-link" routerLink="education-expwork">Educations and Work Exp</a>
        </li>

        <li>
            <a *ngIf="isLogged" class="nav-link" routerLink="project">Projects</a>
        </li>

    </ul>

    <a *ngIf="isLogin();else IniciarSesion" class="link" (click)="cerrarSesion()">Cerrar<br> Sesión</a>


    <ng-template #IniciarSesion>
        <a *ngIf="!isLogged" class="link" routerLink="login" routerLinkActive="active">Iniciar<br> Sesión</a>
    </ng-template>

</nav>