<!--Proyectos-->
<section id="proyectos" class="proyectos seccion-clara d-flex flex-column">
    <h2 class="titulo-clara texto-negro titulo-seccion">Proyectos</h2>

    <div class="container text-center proyectos-contenedor">
        <!--Carrousel-->
        <div id="proyectos-carrusel" class="carousel carousel-dark slide">

            <div class="row">

                <div class="columna col-xs-2 col-md-2 col-xl-2">
                    <button class="carousel-control-prev" type="button" data-bs-target="#proyectos-carrusel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                </div>

                <div class="columna col-xs-8 col-md-8 col-xl-8">
                    <!--inner-->
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <!--Proyecto 1-->
                            <div class="columna col-xs-12 col-md-12 col-xl-12">
                                <div class="proyecto">
                                    <img src="../../../assets/recursos/project/stocktracking.jpg"
                                        alt="StockTracking project">
                                    <div class="overlay">

                                        <div class="titulo-contenedor">
                                            <h3 class="presentacion">Application Web</h3>
                                            <p class="titulo"><span class="project_name">StockTracking</span></p>
                                            <div class="descripcion-contenedor">
                                                <p>
                                                    Desarrollo de una aplicación que permite realizar el
                                                    seguimiento de Stock de una empresa ficticia </p>
                                            </div>
                                        </div>

                                        <div class="iconos-contenedor">
                                            <a href="" target="_blank" rel="noopener noreferrer"> <i
                                                    class="bi bi-laptop"></i>
                                            </a>
                                            <a href="https://github.com/WaldoCuevas/StockTracking" target="_blank"
                                                rel="noopener noreferrer"> <i class="fa-brands fa-github"></i> </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <!--Proyecto 2-->
                            <div class="columna col-xs-12 col-md-12 col-xl-12">
                                <div class="proyecto">
                                    <img src="../../../assets/recursos/project/project-Esc.Especial.jpg"
                                        alt="Esc.Especial project">
                                    <div class="overlay">
                                        <div class="titulo-contenedor">
                                            <h3 class="presentacion">Application Web</h3>
                                            <p class="titulo"><span class="project_name">Comunicate</span></p>
                                            <div class="descripcion-contenedor">
                                                <p>
                                                    Desarrollo de una aplicación que permite una mejor
                                                    comunicación con personas con capacidades especiales.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="iconos-contenedor">
                                            <a href="https://comunicate-con-nosotros.web.app/home" target="_blank"
                                                rel="noopener noreferrer"> <i class="bi bi-laptop"></i>
                                            </a>
                                            <a href="https://github.com/WaldoCuevas/comunicate" target="_blank"
                                                rel="noopener noreferrer"> <i class="fa-brands fa-github"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <!--Proyecto 3-->
                            <div class="columna col-xs-12 col-md-12 col-xl-12">
                                <div class="proyecto">
                                    <img src="../../../assets/recursos/project/portfolio.jpg" alt="portfolio project">
                                    <div class="overlay">
                                        <div class="titulo-contenedor">
                                            <h3 class="presentacion">Application Web</h3>
                                            <p class="titulo"><span class="project_name">Portfolio Web</span></p>
                                            <div class="descripcion-contenedor">
                                                <p>
                                                    Realización de un portafolio web de parte de Argentina
                                                    Programa.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="iconos-contenedor">
                                            <a href="https://waldocuevas.github.io" target="_blank"
                                                rel="noopener noreferrer"> <i class="bi bi-laptop"></i>
                                            </a>
                                            <a href="https://github.com/WaldoCuevas/waldocuevas.github.io"
                                                target="_blank" rel="noopener noreferrer"> <i
                                                    class="fa-brands fa-github"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--inner-->
                </div>

                <div class="columna col-xs-2 col-md-2 col-xl-2">
                    <button class="carousel-control-next" type="button" data-bs-target="#proyectos-carrusel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>
        </div>

    </div>

    <a href="https://github.com/WaldoCuevas" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-primary">
            Ver más proyectos <i class="bi bi-arrow-right-circle"></i>
        </button>
    </a>
</section>