<!--Proyectos-->
<section id="proyectos" >

    <h2 class="titulo-seccion">Proyectos</h2>

    <div class="container-icon">
        <button (click)="modalService.open(AddDataProjectModal)" class="icon icon-1" *ngIf="isAdmin">
            <i class="fa-solid fa-square-plus"></i>
            <p>Añadir</p>
        </button>
    </div>

    <div class="container">

        <!--Carrousel-->
        <ngb-carousel>

            <ng-template ngbSlide *ngFor="let projects of Projects">

                <div class="proyecto">
                    <img [src]="projects.project_image" alt="Random first slide" />

                    <div class="overlay">

                        <div class="container-icon">
                            <button (click)="modalService.open(ModifyDataProjectModal)" class="icon icon-2" *ngIf="isAdmin">
                                <i class="fa-solid fa-pen-to-square"></i>
                                <p>Modificar</p>
                            </button>
                            <button (click)="DeleteDataProject(this.projects.project_id)" class="icon icon-3" *ngIf="isAdmin">
                                <i class="fa-solid fa-trash"></i>
                                <p>Borrar</p>
                            </button>
                        </div>

                        <div class="container-info">
                            <h3 class="presentacion">{{ this.projects.project_title }}</h3>
                            <p class="titulo"> <span class="project_name">{{ this.projects.project_name }} </span> </p>
                        </div>

                        <div class="descripcion-contenedor">
                            <p> {{ this.projects.project_description }} </p>
                        </div>

                        <div class="iconos-contenedor">
                            <a href="{{this.projects.link_project}}" target="_blank" rel="noopener noreferrer">Ver Proyecto <i
                                    class="bi bi-laptop"></i>
                            </a>
                            <a href="{{this.projects.link_github}}" target="_blank" rel="noopener noreferrer">Ver Codigo <i
                                    class="fa-brands fa-github"></i>
                            </a>
                            <span> {{ this.projects.start_project }} - {{ this.projects.end_project}} </span>
                        </div>
                    
                    </div>

                </div>


                <ng-template #ModifyDataProjectModal let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Modificar Proyecto</h4>
                        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <form [formGroup]="formModify" class="form" (ngSubmit)="ModifyDataProject(this.projects.project_id)">

                                <div>
                                    <label for="id">ID:</label>
                                    <input id="id" formControlName="project_id" name="id"
                                        placeholder="{{this.projects.project_id}}">
                                </div>

                                <div>
                                    <label for="image_URL">Imagen URL </label>
                                    <input type="text" id="image_URL" formControlName="project_image"
                                        name="image_URL" placeholder="Imagen URL" >
                                </div>

                                <div>
                                    <label for="project_title">Titulo: </label>
                                    <input type="text" id="project_title" formControlName="project_title"
                                        name="project_title" placeholder="Nombre del Proyecto" >
                                </div>

                                <div>
                                    <label for="project_name">Nombre del proyecto: </label>
                                    <input type="text" id="project_name" formControlName="project_name"
                                        name="project_name" placeholder="Titulo de la Aplicacion">
                                </div>

                                <div>
                                    <label for="project_description">Descripcion : </label>
                                    <input type="text" id="project_description"
                                        formControlName="project_description" name="project_description"
                                        placeholder="Descripcion">
                                </div>

                                <div>
                                    <label for="link_project">Link Project: </label>
                                    <input type="text" id="link_project" formControlName="link_project"
                                        name="link_project" placeholder="Project URL" >
                                </div>

                                <div>
                                    <label for="link_github">Link Github: </label>
                                    <input type="text" id="link_github" formControlName="link_github"
                                        name="link_github" placeholder="Github URL" >
                                </div>

                                <div>
                                    <label for="start_project">Inicio: </label>
                                    <input type="text" id="start_project" formControlName="start_project"
                                        name="start_project" placeholder="Inicio del proyecto" >
                                </div>

                                <div>
                                    <label for="end_project">Final: </label>
                                    <input type="text" id="end_project" formControlName="end_project"
                                        name="end_project" placeholder="Fin del proyecto">
                                </div>

                                <button>Modificar</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
                    </div>
                </ng-template>

            </ng-template>

        </ngb-carousel>

    </div>

    <a href="https://github.com/WaldoCuevas?tab=repositories" target="_blank" rel="noopener noreferrer">
        <button type="button" class="btn btn-primary">
            Ver más proyectos <i class="bi bi-arrow-right-circle"></i>
        </button>
    </a>

</section>

<ng-template #AddDataProjectModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Añadir Proyecto</h4>
        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-container">
            <form [formGroup]="formAdd" class="form" (ngSubmit)="AddDataProject()">
                <div>
                    <label for="image_URL">Imagen URL </label>
                    <input type="text" id="image_URL" formControlName="project_image"
                        name="image_URL" placeholder="Imagen URL" >
                </div>

                <div>
                    <label for="project_title">Titulo: </label>
                    <input type="text" id="project_title" formControlName="project_title"
                        name="project_title" placeholder="Nombre del Proyecto" >
                </div>

                <div>
                    <label for="project_name">Nombre del proyecto: </label>
                    <input type="text" id="project_name" formControlName="project_name"
                        name="project_name" placeholder="Titulo de la Aplicacion">
                </div>

                <div>
                    <label for="project_description">Descripcion : </label>
                    <input type="text" id="project_description"
                        formControlName="project_description" name="project_description"
                        placeholder="Descripcion">
                </div>

                <div>
                    <label for="link_project">Link Project: </label>
                    <input type="text" id="link_project" formControlName="link_project"
                        name="link_project" placeholder="Project URL" >
                </div>

                <div>
                    <label for="link_github">Link Github: </label>
                    <input type="text" id="link_github" formControlName="link_github"
                        name="link_github" placeholder="Github URL" >
                </div>

                <div>
                    <label for="start_project">Inicio: </label>
                    <input type="text" id="start_project" formControlName="start_project"
                        name="start_project" placeholder="Inicio del proyecto" >
                </div>

                <div>
                    <label for="end_project">Final: </label>
                    <input type="text" id="end_project" formControlName="end_project"
                        name="end_project" placeholder="Fin del proyecto">
                </div>

                <button>Añadir</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>