/*    ESTILOS GENERALES    */

.presentacion {
    font-family: "Abril Fatface", cursive;
  }
  
  .titulo-seccion {
    font-family: "Rubik Dirt", cursive;
  }
  
  .titulo {
    font-family: "Playfair Display SC", serif;
  }
  
  .texto {
    font-family: "Playfair Display", serif;
    font-weight: bold;
  }
  
  
  html {
    scroll-behavior: smooth;
  }
  
  hr {
    display: none;
  }
  
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /*  Seccion Oscura  */
  
  .seccion-oscura {
    background-color: #1b1b32;
    color: white;
  }
  
  .titulo-oscura {
    font-size: 3rem;
    padding: 15px 0;
    color: #e9eaeb;
  }
  
  .sub-titulo-oscura {
    font-size: 1.5rem;
    color: #e2e3e4;
    text-decoration: none;
  }
  
  .texto-oscura {
    font-size: 1.5rem;
    color: #bfc0c0;
  }
  
  /*  Seccion Clara  */
  
  .seccion-clara {
    background-color: white;
    color: black;
  }
  
  .titulo-clara {
    font-size: 3rem;
    padding: 15px 0;
    color: #3b3b3b;
  }
  
  .sub-titulo-clara {
    font-size: 1.1rem;
    color: #242424;
  }
  
  .texto-clara {
    font-size: 1rem;
    color: black;
  }
  
  .btn-primary {
    border-radius: 15vh;
    font-size: 1rem;
    padding: 1vw;
    margin: 20px;
  }
  
  /*      PROJECT      */
  
  .proyectos {
    padding: 40px 40px 80px 40px;
    height: 125vh;
    padding-top: 20vh;
  }
  
  .proyectos .carousel {
    width: 100vw;
  }
  
  .proyectos-contenedor {
    padding-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .project_name {
    font-size: 1.5rem;
    color: #363338;
    font-family: "Lobster", cursive;
  }
  
  .proyectos img {
    height: 70vh;
    width: 57vw;
    border-radius: 4rem;
    display: block;
    transition: all 0.3s ease-in;
  }
  
  .overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .proyecto {
    position: relative;
  }
  
  .proyecto:hover img {
    opacity: 0.2;
  }
  
  .proyecto:hover .overlay {
    opacity: 1;
  }
  
  .overlay .descripcion-contenedor {
    margin: 1rem;
  }
  
  .overlay .iconos-contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
  }
  
  
  
  
  
  
  
  
  
  
  /*
    Este CSS esta configurado para full Screen, las media Query para dispositivos Tables e Mobiles.
  */
  
  /*  media query for Full Screen -> 1200PIXELES o MENOS */
  @media only screen and (max-width: 1200px) {
    /* Generales  */
  
    nav button {
      top: 5vh;
    }
  
    .switch {
      position: absolute;
      top: 3vh;
      right: 5vw;
    }
  
    /*  Navbar  */
  
    figure {
      display: none;
    }
  
    .navbar-toggler {
      background-color: green;
    }
  
    /* hero */
  
    .hero-principal {
      height: 60vh;
    }
  
    .hero-principal h2 {
      font-size: 1.6rem;
    }
  
    /*  About me  */
  
    .sobre-mi {
      height: 100vh;
    }
  
    .sobre-mi p {
      font-size: 1rem;
    }
  
    /*  Experiencia */
  
    .experiencia {
      height: 200vh;
      padding-top: 5vh;
      margin: 0;
    }
  
    .experiencia h1 {
      font-size: 2rem;
    }
  
    /*  Educacion */
  
    .educacion {
      height: 180vh;
      padding-top: 5vh;
      margin: 0;
    }
  
    .educacion .aprendizaje {
      text-align: center;
    }
  
    hr {
      display: block;
      height: 2vh;
      width: 8vw;
    }
  
    /*  Experiencia Laboral   */
  
    .experiencia_laboral {
      height: 120vh;
      padding-top: 5vh;
      margin: 0;
    }
  
    .experiencia_laboral h2 {
      text-align: center;
    }
  
    .experiencia_laboral .container-icono {
      padding: 0;
      margin: 0;
    }
  
    .experiencia_laboral .container-icono img {
      padding: 0;
      margin: 0;
      height: 50%;
      width: 50%;
    }
  
    .habilidades .accordion-item {
      margin-top: 2vh;
    }
  
    /*  habilidades  */
  
    .habilidades {
      height: 120vh;
    }
  
    .habilidades .accordion-item {
      margin-top: 2vh;
    }
  
    .habilidades p {
      font-size: 0.8rem;
      text-align: center;
    }
  
    /* proyectos */
  
    .proyectos {
      height: 130vh;
    }
  
    .proyecto p {
      font-size: 1.2rem;
    }
  
    .overlay {
      height: 60vh;
      width: 50vw;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
  
    .proyecto p {
      display: block;
    }
  
    /*  Contacto */
  
    .contacto {
      padding-top: 20vh;
      height: 40vh;
    }
  }
  
  /*  media query for Media Screen  -> 768Pixeles o MENOS*/
  @media only screen and (max-width: 768px) {
    /* Generales */
  
    /*  NavBar*/
  
    .navbar-toggler {
      background-color: blue;
    }
  
    /*  Hero  */
  
    .hero-principal {
      height: 100vh;
      padding-top: 10vh;
      margin: 0;
    }
  
    .hero-principal h1 {
      font-size: 2rem;
    }
  
    .hero-principal h2 {
      font-size: 1.5rem;
    }
  
    /*  Sobre mi */
  
    .sobre-mi {
      padding-top: 10vh;
      height: 100vh;
    }
  
    /*  Experiencia */
  
    .experiencia {
      height: 210vh;
      padding-top: 10vh;
    }
  
    /*  Educacion */
  
    .educacion {
      height: 180vh;
      padding-top: 10vh;
    }
  
    /*  Experiencia Laboral   */
  
    .experiencia_laboral {
      padding: 0;
      margin: 0;
      height: 100vh;
      padding-top: 10vh;
    }
  
    /*  habilidades  */
  
    /* proyectos */
  
    .proyectos .container {
      padding: 0;
      margin: 0;
    }
  
    .proyectos {
      height: 110vh;
      padding-top: 10vh;
    }
  
    .proyecto img {
      height: 60vh;
    }
  
    .proyectos .container {
      padding: 0;
      margin: 0;
    }
  
    /*  Contacto */
  }
  
  /*  media query for Small Screen -> 576Pixeles o MENOS*/
  @media only screen and (max-width: 576px) {
    /*  navbar  */
  
    .navbar-toggler {
      background-color: orange;
    }
  
    /*  Hero  */
  
    .hero-principal {
      padding-top: 10vh;
      height: 100vh;
      padding: 0;
      margin: 0;
    }
  
    .hero-principal h1 {
      font-size: 2rem;
    }
  
    .hero-principal h2 {
      font-size: 1.5rem;
    }
  
    /*  Sobre mi */
  
    .sobre-mi {
      height: 100vh;
      padding-top: 10vh;
    }
  
    /*  Experiencia */
  
    .experiencia {
      height: 210vh;
      padding-top: 10vh;
    }
  
    /*  Educacion */
  
    .educacion {
      height: 180vh;
      padding-top: 10vh;
    }
  
    /*  Experiencia Laboral   */
  
    .experiencia_laboral {
      height: 100vh;
      padding-top: 10vh;
    }
  
    /*  habilidades  */
  
    .habilidades {
      height: 120vh;
      padding-top: 10vh;
    }
  
    /* proyectos */
  
    .proyectos {
      height: 110vh;
      padding-top: 10vh;
    }
  
    .proyecto img {
      height: 60vh;
      width: 100vw;
    }
  
    .proyectos .container {
      padding: 0;
      margin: 0;
    }
  
    /*  Contacto */
  
    .rectangulo {
      height: 60vh;
    }
  
    footer {
      padding-top: 30vh;
      height: 100vh;
    }
  }
  
  @media only screen and (max-width: 400px) {
  
    .sobre-mi {
      height: 80vh;
      padding: 0;
      margin: 0;
    }
  
    .sobre-mi p {
      font-size: 1rem;
    }
  
    .experiencia {
      height: 240vh;
    }
  
    .educacion {
      height: 200vh;
    }
  
    .experiencia_laboral {
      height: 110vh;
    }
  
  
  }