/*  SECTION */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding-bottom: 15vh;
}

.columna {
  padding: 0;
  margin: 0;
  width: 100%;
  border: 0.1px dashed rgb(202, 202, 202);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*  INFO  */

.container-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30%;
  align-items: center;
}

.titulo-seccion {
  padding-top:40px;
  font-family: "Rubik Dirt", cursive;
}

.texto {
  padding: 0;
  margin: 0;
}

.number {
  text-decoration: dashed;
  font-size: 20px;
}

.container-action {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0px;
  width: 30%;
}

.action {
  font-size: 16px;
  margin: 0;
  padding: 10px 0 10px 0;
}


/*  Circle  */

.container-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.circle {
  background-color: red;
}

/*
  Este CSS esta configurado para full mobile, las media Query son  para dispositivos Tables e desktop.
*/

@media (min-width: 640px) {

    
}

@media (min-width: 768px) {

  .columna {
    padding: 15px;
    margin: 20px;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .container-action {
    flex-direction: row;
  }

}

@media (min-width: 1024px) {

    

}

@media (min-width: 1280px) {

    
}

@media (min-width: 1536px) {

   
    
}
