<!--Habilidades-->
<section id="habilidades">

    <h1 class="titulo-seccion">Habilidades</h1>

    <div class="container-icon">
        <button (click)="modalService.open(AddDataSkillModal)" class="icon icon-1" *ngIf="isAdmin">
            <i class="fa-solid fa-square-plus"></i>
            <p>Añadir</p>
        </button>
    </div>

    <div class="container">

        <div class="row">

            <div *ngFor="let skill of skills" class="columna col-xs-12 col-md-12 col-xl-4">

                <div class="container-icon">
                    <button (click)="modalService.open(ModifyDataSkillModal)" class="icon icon-2" *ngIf="isAdmin">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <p>Modificar</p>
                    </button>
                    <button (click)="DeleteDataSkill(this.skill.skill_id)" class="icon icon-3" *ngIf="isAdmin">
                        <i class="fa-solid fa-trash"></i>
                        <p>Borrar</p>
                    </button>
                </div>

                <div class="container-circle">
                    <circle-progress [percent]="this.skill.skill_porcent" [imageSrc]="this.skill.skill_image"
                        [showImage]="true" [imageHeight]="100" [imageWidth]="100" [radius]="100" subtitle=""
                        [outerStrokeWidth]="10" [innerStrokeWidth]="5" [outerStrokeColor]="'#6366f1'"
                        [innerStrokeColor]="'#32349e'" [animation]="true" [animationDuration]="300">
                    </circle-progress>
                </div>

                <div class="container-info">
                    <h3 class="texto">{{this.skill.skills_name}} </h3>
                    <span class="number">%{{this.skill.skill_porcent}} </span>
                </div>

                <!--Modal-->
                <ng-template #ModifyDataSkillModal let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Titulo modal</h4>
                        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <form [formGroup]="formModify" class="form"
                                (ngSubmit)="ModifyDataSkill(this.skill.skill_id)">

                                <div>
                                    <label for="id">ID:</label>
                                    <input id="id" formControlName="skill_id" name="id"
                                        placeholder="{{this.skill.skill_id}}">
                                </div>

                                <div>
                                    <label for="image_URL">Imagen URL </label>
                                    <input type="text" id="image_URL" formControlName="skill_image" name="image_URL"
                                        placeholder="Imagen URL" maxlength="254">
                                </div>

                                <div>
                                    <label for="skills_name">Nombre Habilidad: </label>
                                    <input type="text" id="skills_name" formControlName="skills_name" name="skills_name"
                                        placeholder="Nombre Habilidad" maxlength="30">
                                </div>

                                <div>
                                    <label for="skill_porcent">Nivel: </label>
                                    <input type="number" id="skill_porcent" formControlName="skill_porcent"
                                        name="skill_porcent" placeholder="Porcentaje" maxlength="35">
                                </div>

                                <button>Añadir</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
                    </div>
                </ng-template>

            </div>

        </div>

    </div>

</section>

<!--Modal-->
<ng-template #AddDataSkillModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Registrar una Experiencia Laboral</h4>
        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-container">
            <form [formGroup]="formAdd" class="form" (ngSubmit)="AddDataSkill()">

                <div>
                    <label for="image_URL">Imagen URL </label>
                    <input type="text" id="image_URL" formControlName="skill_image" name="image_URL"
                        placeholder="Imagen URL" maxlength="254">
                </div>

                <div>
                    <label for="skills_name">Nombre Habilidad: </label>
                    <input type="text" id="skills_name" formControlName="skills_name" name="skills_name"
                        placeholder="Nombre Habilidad" maxlength="30">
                </div>

                <div>
                    <label for="skill_porcent">Nivel: </label>
                    <input type="number" id="skill_porcent" formControlName="skill_porcent" name="skill_porcent"
                        placeholder="Porcentaje" maxlength="35">
                </div>

                <button>Añadir</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>