/*  SECTION */

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding-bottom: 15vh;
}

.columna {
  width: 400px;
  padding: 10px;
  margin: 10px;
  border: 0.1px dashed rgb(202, 202, 202);
}

/*  INFO  */

.container-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.titulo-seccion {
  padding-top:10vh;
  font-family: "Rubik Dirt", cursive;
}

.texto {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.number {
  text-decoration: dashed;
  font-size: 30px;
}

/*  ICON  */

.container-action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  margin: 15px;
}

.action {
  border: none;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  padding: 10px;
  transition: color .2s ease-in;
}

.action-1:hover {
  color: #22c55e;
}

.action-2:hover {
  color: #06b6d4;
}

.action-3:hover {
  color: #ef4444;
}


/*	MODAL		*/

.modal-header {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
}

.modal-footer {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: #eee;
}

/*  Form  */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.form-container, .input-container, .textarea-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2, button, p {
  margin: 8px 0;
}

input, textarea {
  margin: 25px 0px;
  padding: 20px 15px;
  color: #000000;
  border-radius: 0;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  text-align: left;
}

input:focus, textarea {
  box-shadow: 0 0 10px #0000002a;
  background-color: #0000002a;
}

.modal-body button {
  background-image: linear-gradient(to right, #00bfff , #2480f0, #26206e);
  border-radius: 30px;
  border: transparent;
  width: 200px;
  transition: .2s all ease;
}

.modal-body button:hover {
  background-image: linear-gradient(to right, #37cdff , #52a0ff, #4940b0);
}

/*  Circle  */

.container-circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*
  Este CSS esta configurado para full Screen, las media Query para dispositivos Tables e Mobiles.
*/