<!--Sobre mi-->
<section id="sobre-mi" class="sobre-mi seccion-oscura">

    <div class="contenedor">
        <h2 class="titulo-oscura titulo-seccion">Sobre mi</h2>
        <p class="texto-oscura texto">Soy una persona autodictacta y comprometida con los trabajos que
            realizo. <br>
            Empeze a programar en el año 2021 en la Universidad Tecnologica Nacional (UTN), a finales del año 2022 me recibi de Tecnico Universitario en Programación.<br>
            Personalmente puedo decir que siento gran interes por el mundo de la informartica y el rubro IT.
            Entre mis preferencias me gustan las areas relacionadas al Backend sobre el Frontend.
        </p>
        <button class="btn btn-primary"> <a class="sub-titulo-oscura"
                href="https://files.deply.dev/files/1cafc124-cd63-410d-a251-9ca5247270f9-fc681843-cf57-45e2-a9b0-263e041f8b97-Waldo's_Resume_(2).pdf"
                target="_blank" rel="noopener noreferrer">Download CV </a> </button>
    </div>

</section>