/*    ESTILOS GENERALES    */

.presentacion {
  font-family: "Abril Fatface", cursive;
}

.titulo-seccion {
  font-family: "Rubik Dirt", cursive;
}

.titulo {
  font-family: "Playfair Display SC", serif;
}

.texto {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

hr {
  display: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  Seccion Oscura  */

.seccion-oscura {
  background-color: #1b1b32;
  color: white;
}

.titulo-oscura {
  font-size: 3rem;
  padding: 15px 0;
  color: #e9eaeb;
}

.sub-titulo-oscura {
  font-size: 1.5rem;
  color: #e2e3e4;
  text-decoration: none;
}

.texto-oscura {
  font-size: 1.5rem;
  color: #bfc0c0;
}

/*  Seccion Clara  */

.seccion-clara {
  background-color: white;
  color: black;
}

.titulo-clara {
  font-size: 3rem;
  padding: 15px 0;
  color: #3b3b3b;
}

.sub-titulo-clara {
  font-size: 1.1rem;
  color: #242424;
}

.texto-clara {
  font-size: 1rem;
  color: black;
}

.btn-primary {
  border-radius: 15vh;
  font-size: 1rem;
  padding: 1vw;
  margin: 20px;
}

/*  Experiencia Lababoral */

.experiencia_laboral {
  padding-top: 10vh;
  height: 90vh; 
}

.experiencia-texto {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
}

.experiencia_laboral .carousel {
  max-width: 1000px;
}

.experiencia_laboral .container-icono {
  padding-top: 60px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.experiencia_laboral img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 20%;
  display: block;
}
