<!--Experiencia Laboral-->
<section id="experiencia_laboral" class="experiencia_laboral seccion-clara d-flex flex-column">
    <h2 class="titulo-clara texto-negro titulo-seccion">Experiencia Laboral</h2>

    <!--Carrousel-->
    <div id="experiencia_laboral-carrusel" class="carousel carousel-dark slide">

        <div class="container text-center experiencia_laboral-contenedor">

            <div class="row">

                <div class="columna col-xs-12 col-md-12 col-xl-2">
                    <button class="carousel-control-prev" type="button"
                        data-bs-target="#experiencia_laboral-carrusel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                </div>


                <div class="columna col-xs-12 col-md-12 col-xl-8">
                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <!--Experiencia laboral -->
                            <div class="row">
                                <div class="columana col-12 col-xl-6">
                                    <div class="container-icono">
                                        <img src="../../../assets/recursos/work/escuela especial n° 2045.jpg" alt="utn-logo"
                                            class="educacion-icono-2">
                                    </div>
                                </div>
                                <div class="columana col-12 col-xl-6">
                                    <div class="container-data">
                                        <h3 class="experiencia-texto titulo-clara titulo">Institución: Escuela
                                            Especial
                                            N° 2045 <br>
                                            Dr Oscar Oñativia</h3>
                                        <h4 class="educacion-texto texto-clara texto"><span>Puesto</span>:
                                            Desarrollador</h4>
                                        <h4 class="educacion-texto texto-clara texto"><span>Aplicación</span>:
                                            Comunicate</h4>
                                        <p class="aprendizaje sub-titulo-clara texto">
                                            <span class="span">Logros/Funciones: </span> <br>
                                            &lowast; Desarrollo en equipo de una aplicación que facilita la
                                            comunicación entre el equipo docente y los alumnos.<br>
                                            &lowast; Instalación del software en los dispositivos de la
                                            institución.<br>
                                            &lowast; Mantenimiento al software desarrollado.<br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- fin experiencia-->

                    </div>
                </div>


                <div class="columna col-xs-12 col-md-12 col-xl-2">
                    <button class="carousel-control-next" type="button"
                        data-bs-target="#experiencia_laboral-carrusel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

            </div>

        </div>

    </div>

</section>