<section>
    <h2 class="titulo-seccion">Experiencia Laboral</h2>

    <div class="container-icon">
        <button (click)="modalService.open(AddDataWorkModal)" class="icon icon-1" *ngIf="isAdmin">
            <i class="fa-solid fa-square-plus"></i>
            <p>Añadir</p>
        </button>
    </div>

    <div class="timeline">

        <div *ngFor="let ExpWorks of ExpWorks" class="timeline-box">

            <div class="timeline-icon">
                <i class="fa fa-briefcase"></i>
            </div>

            <div class="timeline-content">
                <div class="container">

                    <div class="row">

                        <!--Experiencia laboral -->
                        <div class="columna col-xs-12 col-md-12 col-xl-12">

                            <div class="header-icon">
                                <div class="container-imagen">
                                    <img src="{{ this.ExpWorks.work_image}}" alt="Imagen_work_exp"
                                        class="educacion-icono-2">
                                </div>

                                <div class="container-action">
                                    <button (click)="modalService.open(ModifyDataWorkModal)" class="action action-2"
                                        *ngIf="isAdmin">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                        <p>Modificar</p>
                                    </button>
                                    <button (click)="DeleteDataWork(this.ExpWorks.work_exp_id)" class="action action-3"
                                        *ngIf="isAdmin">
                                        <i class="fa-solid fa-trash"></i>
                                        <p>Borrar</p>
                                    </button>
                                </div>
                            </div>

                            <div class="container-info">
                                <h3 class="titulo">{{ this.ExpWorks.workplace }} </h3>
                                <hr>
                                <h5 class="texto"><span class="underline">Puesto</span>: {{
                                    this.ExpWorks.workstation }} </h5>
                                <h5 class="texto"><span class="underline">Aplicación</span>: {{
                                    this.ExpWorks.job }} </h5>
                            </div>

                            <div class="container-description">
                                <span class="underline">Logros/Funciones: </span> <br>
                                <p *ngIf="textoVacio(this.ExpWorks.description_work_exp_r1)" class="texto">
                                    &lowast; {{ this.ExpWorks.description_work_exp_r1 }}</p>
                                <p *ngIf="textoVacio(this.ExpWorks.description_work_exp_r2)" class="texto">
                                    &lowast; {{ this.ExpWorks.description_work_exp_r2 }}</p>
                                <p *ngIf="textoVacio(this.ExpWorks.description_work_exp_r3)" class="texto">
                                    &lowast; {{ this.ExpWorks.description_work_exp_r3 }}</p>
                                <span> {{ this.ExpWorks.start_work_exp }} - {{ this.ExpWorks.end_work_exp
                                    }}</span>
                            </div>

                            <!--Modal-->
                            <ng-template #ModifyDataWorkModal let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">Modificar Work Exp</h4>
                                    <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-container">
                                        <form [formGroup]="formModify" class="form"
                                            (ngSubmit)="ModifyDataWork(this.ExpWorks.work_exp_id)">

                                            <div class="input-container">
                                                <label for="id">ID:</label>
                                                <input id="id" formControlName="work_exp_id" name="id"
                                                    placeholder="{{this.ExpWorks.work_exp_id}}">
                                            </div>

                                            <div class="input-container">
                                                <label for="image_URL">Imagen URL </label>
                                                <input type="text" id="image_URL" formControlName="work_image"
                                                    name="image_URL" placeholder="Imagen URL">
                                            </div>

                                            <div class="input-container">
                                                <label for="workplace">Institución: </label>
                                                <input type="text" id="workplace" formControlName="workplace"
                                                    name="workplace" placeholder="Lugar de Trabajo">
                                            </div>

                                            <div class="input-container">
                                                <label for="workstation">Puesto: </label>
                                                <input type="text" id="workstation" formControlName="workstation"
                                                    name="workstation" placeholder="Puesto de trabajo">
                                            </div>

                                            <div class="input-container">
                                                <label for="job">Aplicación: </label>
                                                <input type="text" id="job" formControlName="job" name="job"
                                                    placeholder="Nombre de la Aplicacion">
                                            </div>

                                            <div class="textarea-container">
                                                <label for="description_work_exp_r1">Descripcion 1: </label>
                                                <textarea type="text" id="description_work_exp_r1"
                                                    formControlName="description_work_exp_r1"
                                                    name="description_work_exp_r1" placeholder="Descripcion"></textarea>
                                            </div>

                                            <div class="textarea-container">
                                                <label for="description_work_exp_r2">Descripcion 2: </label>
                                                <textarea type="text" id="description_work_exp_r2"
                                                    formControlName="description_work_exp_r2"
                                                    name="description_work_exp_r2" placeholder="Descripcion"></textarea>
                                            </div>

                                            <div class="textarea-container">
                                                <label for="description_work_exp_r3">Descripcion 3: </label>
                                                <textarea type="text" id="description_work_exp_r3"
                                                    formControlName="description_work_exp_r3"
                                                    name="description_work_exp_r3" placeholder="Descripcion"></textarea>
                                            </div>

                                            <div class="input-container">
                                                <label for="start_work_exp">Inicio: </label>
                                                <input type="text" id="nombreUsuario" formControlName="start_work_exp"
                                                    name="start_work_exp" placeholder="Inicio experiencia laboral">
                                            </div>

                                            <div class="input-container">
                                                <label for="end_work_exp">Final: </label>
                                                <input type="text" id="end_work_exp" formControlName="end_work_exp"
                                                    name="end_work_exp" placeholder="Fin experiencia laboral">
                                            </div>

                                            <button>Modificar</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
                                </div>
                            </ng-template>

                        </div>


                    </div>
                    <!-- fin experiencia-->


                </div>
            </div>

        </div>
    </div>

</section>





<!--Modal-->
<ng-template #AddDataWorkModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Añadir Work Exp</h4>
        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-container">
            <form [formGroup]="formAdd" class="form" (ngSubmit)="AddDataWork()">

                <div class="input-container">
                    <label for="image_URL">Imagen URL </label>
                    <input type="text" id="image_URL" formControlName="work_image" name="image_URL"
                        placeholder="Imagen URL">
                </div>

                <div class="input-container">
                    <label for="workplace">Institución: </label>
                    <input type="text" id="workplace" formControlName="workplace" name="workplace"
                        placeholder="Lugar de Trabajo">
                </div>

                <div class="input-container">
                    <label for="workstation">Puesto: </label>
                    <input type="text" id="workstation" formControlName="workstation" name="workstation"
                        placeholder="Puesto de trabajo">
                </div>

                <div class="input-container">
                    <label for="job">Aplicación: </label>
                    <input type="text" id="job" formControlName="job" name="job" placeholder="Nombre de la Aplicacion">
                </div>

                <div class="textarea-container">
                    <label for="description_work_exp_r1">Descripcion 1: </label>
                    <textarea type="text" id="description_work_exp_r1" formControlName="description_work_exp_r1"
                        name="description_work_exp_r1" placeholder="Descripcion"></textarea>
                </div>

                <div class="textarea-container">
                    <label for="description_work_exp_r2">Descripcion 2: </label>
                    <textarea type="text" id="description_work_exp_r2" formControlName="description_work_exp_r2"
                        name="description_work_exp_r2" placeholder="Descripcion"></textarea>
                </div>

                <div class="textarea-container">
                    <label for="description_work_exp_r3">Descripcion 3: </label>
                    <textarea type="text" id="description_work_exp_r3" formControlName="description_work_exp_r3"
                        name="description_work_exp_r3" placeholder="Descripcion"></textarea>
                </div>

                <div class="input-container">
                    <label for="start_work_exp">Inicio: </label>
                    <input type="text" id="nombreUsuario" formControlName="start_work_exp" name="start_work_exp"
                        placeholder="Inicio experiencia laboral">
                </div>

                <div class="input-container">
                    <label for="end_work_exp">Final: </label>
                    <input type="text" id="end_work_exp" formControlName="end_work_exp" name="end_work_exp"
                        placeholder="Fin experiencia laboral">
                </div>

                <button>Añadir</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>