<!--Sobre mi-->
<section id="sobre-mi">

    <h2 class="titulo">Sobre mi</h2>

    <div class="container-fluid">

        <div class="container-action" *ngIf="isAdmin">
            <button (click)="modalService.open(AddPersonalDataModal)" class="action action-1">
                <i class="fa-solid fa-square-plus"></i>
                <p>Añadir</p>
            </button>
            <button (click)="modalService.open(ModifyPersonalDataModal)" class="action action-2">
                <i class="fa-solid fa-pen-to-square"></i>
                <p>Modificar</p>
            </button>
            <button (click)="DeletePersonalData()" class="action action-3">
                <i class="fa-solid fa-trash"></i>
                <p>Borrar</p>
            </button>
        </div>

        <div class="container-info">
            <p class="texto"> {{ this.persona.about_me_r1 }} </p>
            <p class="texto"> {{this.persona.about_me_r2 }} </p>
        </div>

    </div>


</section>



<!--Modal-->
<ng-template #AddPersonalDataModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Añadir Descripcion</h4>
        <button type="button" class="close btn btn-danger" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-container">
            <form [formGroup]="formAdd" class="form" (ngSubmit)="AddPersonalData()">

                <div class="textarea-container">
                    <label for="about_me_r1">Descripcion 1: </label>
                    <textarea type="text" id="about_me_r1" formControlName="about_me_r1" name="about_me_r1"
                        placeholder="Descripcion">
                    </textarea>
                </div>

                <div class="textarea-container">
                    <label for="about_me_r2">Descripcion 2: </label>
                    <textarea type="text" id="about_me_r2" formControlName="about_me_r2" name="about_me_r2"
                        placeholder="Descripcion">
                    </textarea>
                </div>

                <button>Añadir</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>

<!--Modal-->
<ng-template #ModifyPersonalDataModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modificar descripcion</h4>
        <button type="button" class="close btn btn-danger" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-container">
            <form [formGroup]="formModify" class="form" (ngSubmit)="ModifyPersonalData()">

                <div class="input-container">
                    <label for="id">ID:</label>
                    <input id="id" formControlName="user_id" name="id" placeholder="{{this.persona.user_id}}">
                </div>

                <div class="textarea-container">
                    <label for="about_me_r1">Descripcion 1: </label>
                    <textarea type="text" id="about_me_r1" formControlName="about_me_r1" name="about_me_r1"
                        placeholder="Descripcion">
                    </textarea>
                </div>

                <div class="textarea-container">
                    <label for="about_me_r2">Descripcion 2: </label>
                    <textarea type="text" id="about_me_r2" formControlName="about_me_r2" name="about_me_r2"
                        placeholder="Descripcion">
                    </textarea>
                </div>

                <button>Modificar</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>