<!--Experiencia-->
<section id="technology">

    <h1 class="titulo-seccion">Conocimientos</h1>

    <div class="container-icon">
        <button (click)="modalService.open(AddDataTechnologysModal)" class="icon icon-1" *ngIf="isAdmin">
            <i class="fa-solid fa-square-plus"></i>
            <p>Añadir</p>
        </button>
    </div>

    <div class="container">

        <div class="row">

            <div *ngFor="let technology of technologys" class="columna col-xs-12 col-md-12 col-xl-3">

                <div *ngIf="isAdmin" class="container-icon">
                    <button (click)="modalService.open(ModifyDataTechnologysModal)" class="icon icon-2" *ngIf="isAdmin">
                        <i class="fa-solid fa-pen-to-square"></i>
                        <p>Modificar</p>
                    </button>
                    <button (click)="DeleteDataTechnologys(this.technology.tecnology_id)" class="icon icon-3"
                        *ngIf="isAdmin">
                        <i class="fa-solid fa-trash"></i>
                        <p>Borrar</p>
                    </button>
                </div>

                <div class="container-info">
                    <h3 class="titulo"> {{ this.technology.name_technology }}</h3>
                    <p class="texto"> {{ this.technology.description_technology_r1 }} </p>
                    <p class="texto"> {{ this.technology.description_technology_r2 }} </p>
                </div>

                <div class="container-badges">
                    <h3 class="texto-oscura"><span> Habilidades:</span></h3>
                    <span class="badge text-bg-primary">{{ this.technology.badge_technology_1 }}</span>
                    <span class="badge text-bg-primary">{{ this.technology.badge_technology_2 }}</span>
                    <span class="badge text-bg-primary">{{ this.technology.badge_technology_3 }}</span>
                    <span class="badge text-bg-primary">{{ this.technology.badge_technology_4 }}</span>
                </div>

                <!--Modal-->
                <ng-template #ModifyDataTechnologysModal let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Modificar</h4>
                        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-container">
                            <form [formGroup]="formModify" class="form"
                                (ngSubmit)="ModifyDataTechnologys(this.technology.tecnology_id)">

                                <div>
                                    <label for="id">ID:</label>
                                    <input id="id" formControlName="tecnology_id" name="id"
                                        placeholder="{{this.technology.tecnology_id}}">
                                </div>

                                <div>
                                    <label for="name_technology">Nombre Tecnologia </label>
                                    <input type="text" id="name_technology" formControlName="name_technology"
                                        name="name_technology" placeholder="Nombre de la tecnologia" maxlength="50">
                                </div>

                                <div>
                                    <label for="description_technology_r1">Descripcion 1: </label>
                                    <input type="text" id="description_technology_r1"
                                        formControlName="description_technology_r1" name="description_technology_r1"
                                        placeholder="Descripcion" maxlength="254">
                                </div>

                                <div>
                                    <label for="description_technology_r2">Descripcion 2: </label>
                                    <input type="text" id="description_technology_r2"
                                        formControlName="description_technology_r2" name="description_technology_r2"
                                        placeholder="Descripcion" maxlength="254">
                                </div>

                                <div>
                                    <label for="Badge 1">Badge 1: </label>
                                    <input type="text" id="Badge 1" formControlName="badge_technology_1" name="Badge 1"
                                        placeholder="badge">
                                </div>

                                <div>
                                    <label for="Badge 2">Badge 2: </label>
                                    <input type="text" id="Badge 2" formControlName="badge_technology_2" name="Badge 2"
                                        placeholder="badge">
                                </div>

                                <div>
                                    <label for="Badge 3">Badge: </label>
                                    <input type="text" id="Badge 3" formControlName="badge_technology_3" name="Badge 3"
                                        placeholder="badge">
                                </div>
                                <div>
                                    <label for="Badge 4">Badge 4: </label>
                                    <input type="text" id="Badge 4" formControlName="badge_technology_4" name="Badge 4"
                                        placeholder="badge">
                                </div>

                                <button>Modificar</button>
                            </form>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
                    </div>

                </ng-template>

            </div>

        </div>

    </div>

</section>

<!--Modal-->
<ng-template #AddDataTechnologysModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Añadir Conocimiento</h4>
        <button type="button" class="close" aria-label="close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-container">
            <form [formGroup]="formAdd" class="form" (ngSubmit)="AddDataTechnologys()">

                <div>
                    <label for="name_technology">Nombre Tecnologia </label>
                    <input type="text" id="name_technology" formControlName="name_technology" name="name_technology"
                        placeholder="Nombre de la tecnologia">
                </div>

                <div>
                    <label for="description_technology_r1">Descripcion 1: </label>
                    <input type="text" id="description_technology_r1" formControlName="description_technology_r1"
                        name="description_technology_r1" placeholder="Descripcion">
                </div>

                <div>
                    <label for="description_technology_r2">Descripcion 2: </label>
                    <input type="text" id="description_technology_r2" formControlName="description_technology_r2"
                        name="description_technology_r2" placeholder="Descripcion">
                </div>

                <div>
                    <label for="Badge 1">Badge 1: </label>
                    <input type="text" id="Badge 1" formControlName="badge_technology_1" name="Badge 1"
                        placeholder="badge">
                </div>

                <div>
                    <label for="Badge 2">Badge 2: </label>
                    <input type="text" id="Badge 2" formControlName="badge_technology_2" name="Badge 2"
                        placeholder="badge">
                </div>

                <div>
                    <label for="Badge 3">Badge: </label>
                    <input type="text" id="Badge 3" formControlName="badge_technology_3" name="Badge 3"
                        placeholder="badge">
                </div>
                <div>
                    <label for="Badge 4">Badge 4: </label>
                    <input type="text" id="Badge 4" formControlName="badge_technology_4" name="Badge 4"
                        placeholder="badge">
                </div>

                <button type="submit">Añadir</button>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="modal.close()">Cerrar</button>
    </div>
</ng-template>
