<div class="form-container">

  <h2>Iniciar Sesion</h2>
  
  <div>
    <form [formGroup]="form" class="form" (ngSubmit)="onLogin()">
      
      <div>
        <input type="text" formControlName="nombreUsuario"  placeholder="Nombre de usuario">
      </div>

      <div>
        <input type="password" formControlName="password" placeholder="Contraseña">
      </div>

      <button>Entrar</button>

      <p>¿No tienes una? <span><a href="register">¡Registrate!</a></span></p>

    </form>
  </div>

</div> 
