* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    background-color: #eee;
    width: 100%;
}

.container-action {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
  }